*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  height: 30px;
  width: 180px;
  margin-bottom: 60px;
}

.card-container {
}